<% provide(:title, 'Monitor your Investment Advisor') %>
<div class="pre-loader">
<div class="load-con">
  <%= image_tag 'eco/eco/logobv.png', class: 'animated fadeInDown' %>
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>
</div>

<header>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="fa fa-bars fa-lg"></span>
      </button>
      <%= link_to image_tag('eco/eco/logobv.png', :border => 0), root_path, class: 'navbar-brand' %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">about</a></li>
        <li><a href="#reviews">reviews</a></li>
        <li><%= link_to 'sign up', register_path, class: 'getApp' %></li>
        <li><%= link_to 'login', login_path %></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-->
</nav>
<!--RevSlider-->
<div class="tp-banner-container">
  <div class="tp-banner" >
    <ul>
      <!-- SLIDE  -->
      <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" style="display: inline;" >
        <!-- MAIN IMAGE -->
        <!-- LAYERS -->
        <!-- LAYER NR. 1 -->
        <div class="tp-caption lfl fadeout hidden-xs"
             data-x="left"
             data-y="bottom"
             data-hoffset="30"
             data-voffset="0"
             data-speed="500"
             data-start="700"
             data-easing="Power4.easeOut">
          <%= image_tag 'eco/eco/Slides/hand-bv.png', alt: '' %>
        </div>
        <div class="tp-caption lfl fadeout visible-xs"
             data-x="left"
             data-y="center"
             data-hoffset="700"
             data-voffset="0"
             data-speed="500"
             data-start="700"
             data-easing="Power4.easeOut">
          <%= image_tag 'eco/eco/Slides/hand-eco.png', alt: ''  %>
        </div>
        <div class="tp-caption large_white_bold sft" data-x="550" data-y="center" data-hoffset="0" data-voffset="-80" data-speed="500" data-start="1200" data-easing="Power4.easeOut">
          Transparency
        </div>
        <div class="tp-caption large_white_light sfr" data-x="950" data-y="center" data-hoffset="0" data-voffset="-80" data-speed="500" data-start="1400" data-easing="Power4.easeOut">
          in
        </div>
        <div class="tp-caption large_white_light sfb" data-x="550" data-y="center" data-hoffset="0" data-voffset="0" data-speed="1000" data-start="1500" data-easing="Power4.easeOut">
          Investment Management
        </div>
        <div class="tp-caption sfb hidden-xs" data-x="550" data-y="center" data-hoffset="0" data-voffset="85" data-speed="1000" data-start="1700" data-easing="Power4.easeOut">
          <a href="/login" class="btn btn-primary inverse btn-lg">LOGIN</a>
        </div>
        <div class="tp-caption sfr hidden-xs" data-x="670" data-y="center" data-hoffset="0" data-voffset="85" data-speed="1500" data-start="1900" data-easing="Power4.easeOut">
          <a href="/register" class="btn btn-default btn-lg">SIGNUP</a>
        </div>
      </li>
      <!-- SLIDE 2 -->
      <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" >
        <!-- MAIN IMAGE -->
        <%= image_tag 'eco/transparent.png', alt: 'slidebg1', :data => { :bgfit => 'cover', :bgposition => 'left top', :bgrepeat => 'no-repeat' } %>
        <!-- LAYERS -->
        <!-- LAYER NR. 1 -->
        <div class="tp-caption lfb fadeout hidden-xs"
             data-x="center"
             data-y="bottom"
             data-hoffset="0"
             data-voffset="0"
             data-speed="1000"
             data-start="700"
             data-easing="Power4.easeOut">
          <%= image_tag 'eco/eco/Slides/eco-slide2.png', alt: '' %>
        </div>
        <div class="tp-caption large_white_light sft" data-x="center" data-y="250" data-hoffset="0" data-voffset="0" data-speed="1000" data-start="1400" data-easing="Power4.easeOut">
          Keep your broker in check.
        </div>
      </li>
      <!-- SLIDE 3 -->
      <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" >
        <!-- MAIN IMAGE -->
        <%= image_tag 'eco/transparent.png', alt: 'slidebg1', :data => { :bgfit => 'cover', :bgposition => 'left top', :bgrepeat => 'no-repeat' } %>
        <!-- LAYERS -->
        <!-- LAYER NR. 1 -->
        <div class="tp-caption customin customout hidden-xs"
             data-x="right"
             data-y="center"
             data-hoffset="0"
             data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
             data-voffset="50"
             data-speed="1000"
             data-start="700"
             data-easing="Power4.easeOut">
          <%= image_tag 'eco/eco/Slides/family-eco.png', alt: '' %>
        </div>
        <div class="tp-caption customin customout visible-xs"
             data-x="center"
             data-y="center"
             data-hoffset="0"
             data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
             data-voffset="0"
             data-speed="1000"
             data-start="700"
             data-easing="Power4.easeOut">
          <%= image_tag 'eco/eco/Slides/family-eco.png', alt: '' %>
        </div>
        <div class="tp-caption lfb visible-xs" data-x="center" data-y="center" data-hoffset="0" data-voffset="400" data-speed="1000" data-start="1200" data-easing="Power4.easeOut">
          <a href="#" class="btn btn-primary inverse btn-lg">Purchase</a>
        </div>
        <div class="tp-caption mediumlarge_light_white sfl hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="-50" data-speed="1000" data-start="1000" data-easing="Power4.easeOut">
         Your broker works for you.
        </div>
        <div class="tp-caption mediumlarge_light_white sft hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="0" data-speed="1000" data-start="1200" data-easing="Power4.easeOut">
          Ensure they are transparent.
        </div>
        <div class="tp-caption small_light_white sfb hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="80" data-speed="1000" data-start="1600" data-easing="Power4.easeOut">
          <p>Make sure that youre not overcharged for fees. <br> Ensure your broker follows the rules. <br>It is your money.</p>
        </div>
        <div class="tp-caption lfl hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="160" data-speed="1000" data-start="1800" data-easing="Power4.easeOut">
          <a href="#" class="btn btn-primary inverse btn-lg">Signup</a>
        </div>
      </li>
    </ul>
  </div>
</div>
</header>
<div class="wrapper" style="z-index: 1">
<section id="about">
  <div class="container">
    <div class="section-heading scrollpoint sp-effect3">
      <h1>About Us</h1>
      <div class="divider"></div>
      <p>Have you reviewed your Financial Advisor lately?</p>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="about-item scrollpoint sp-effect2">
          <%= fa_icon "money", class: "fa-2x" %>
          <h3>Monitor Fees</h3>
          <p>Find out if your investments have the least amount of fees.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6" >
        <div class="about-item scrollpoint sp-effect5">
          <%= fa_icon "male", class: "fa-2x" %>
          <h3>Paying Whom</h3>
          <p>Broker Verified tells you who you are paying every month.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6" >
        <div class="about-item scrollpoint sp-effect5">
          <%= fa_icon "pie-chart", class: "fa-2x" %>
          <h3>Expense Breakdown</h3>
          <p>What are your fees going towards? Are they management fees or commition kickbacks?</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6" >
        <div class="about-item scrollpoint sp-effect1">
          <%= fa_icon "eye", class: "fa-2x" %>
           <h3>Broker Monitoring</h3>
          <p>Immediately find out if your investor has done something that gets reported to the SEC.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="reviews">
  <div class="container">
    <div class="section-heading scrollpoint sp-effect3">
      <h1>Reviews</h1>
      <div class="divider"></div>
      <p>What Are People Are Saying About Us</p>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-push-1 scrollpoint sp-effect3">
        <div class="review-filtering">
          <div class="review">
            <div class="row">
              <div class="col-md-2">
                <div class="review-person">
                  <%= image_tag 'eco/reviewers/01.png', class: 'img-responsive' %>
                </div>
              </div>
              <div class="col-md-10">
                <div class="review-comment">
                  <h3>“Broker Verified helped me find even the smallest fees.”</h3>
                  <p>
                    - Eric Muncal
                    <span>
                      <%= fa_icon "star", class: "fa-lg" %>
                      <%= fa_icon "star", class: "fa-lg" %>
                      <%= fa_icon "star", class: "fa-lg" %>
                      <%= fa_icon "star", class: "fa-lg" %>
                      <%= fa_icon "star-o", class: "fa-lg" %>
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="review rollitin">
            <div class="row">
              <div class="col-md-2">
                <div class="review-person">
                  <img src="http://api.randomuser.me/portraits/men/70.jpg" alt="" class="img-responsive">
                </div>
              </div>
              <div class="col-md-10">
                <div class="review-comment">
                  <h3>“Broker Verified has made me keep my broker in check”</h3>
                  <p>
                    - Micheal Villarmia
                    <span>
                      <%= fa_icon "star", class: "fa-lg" %>
                      <%= fa_icon "star", class: "fa-lg" %>
                      <%= fa_icon "star", class: "fa-lg" %>
                      <%= fa_icon "star-half-o", class: "fa-lg" %>
                      <%= fa_icon "star-o", class: "fa-lg" %>
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="review rollitin">
            <div class="row">
              <div class="col-md-2">
                <div class="review-person">
                  <img src="http://api.randomuser.me/portraits/men/93.jpg" alt="" class="img-responsive">
                </div>
              </div>
              <div class="col-md-10">
                <div class="review-comment">
                  <h3>“I found my new broker through Broker Verified.”</h3>
                  <p>
                    - Allen Roman
                    <span>
                      <%= fa_icon "star", class: "fa-lg" %>
                      <%= fa_icon "star", class: "fa-lg" %>
                      <%= fa_icon "star", class: "fa-lg" %>
                      <%= fa_icon "star", class: "fa-lg" %>
                      <%= fa_icon "star-o", class: "fa-lg" %>
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <a href="#" class="scrollpoint sp-effect3">
      <%= image_tag 'eco/eco/logobv.png', class: 'logo' %>
    </a>
    <div>
      <p>      info@brokerverified.com
      </p>
    </div>
    <div class="rights">
      <p>Copyright &copy; <%= Time.now.year %></p>
    </div>
  </div>
</footer>
</div>

<%= javascript_include_tag 'eco/slick.min' %>
<%= javascript_include_tag 'eco/placeholdem.min' %>
<%= javascript_include_tag 'eco/rs-plugin/js/jquery.themepunch.plugins.min' %>
<%= javascript_include_tag 'eco/rs-plugin/js/jquery.themepunch.revolution.min' %>
<%= javascript_include_tag 'eco/waypoints.min' %>
<%= javascript_include_tag 'eco/scripts' %>

<script>
$(document).ready(function() {
    appMaster.preLoader();
});
</script>