<%= render partial: 'shared/notice' %>
<h1>Brokerage List</h1>
<%= link_to_button 'Create Brokerage', new_brokerage_path, 'btn-primary' %>
<table class='table'>
  <thead>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th colspan="4">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @brokerages.each do |brokerage| %>
      <tr>
        <td><%= brokerage.name %></td>
        <td><%= brokerage.formatted_phone %></td>
        <td><%= link_to 'Show', brokerage %></td>
        <% if brokerage.is_verified %>
            <td></td>
            <% else %>
        <td><%= link_to 'Verify', brokerage_verify_path(brokerage) %></td>
            <% end %>
        <td><%= link_to 'Edit', edit_brokerage_path(brokerage) %></td>
        <td><%= link_to 'Delete', brokerage, method: :delete, data: {confirm: 'Are you sure?'}  %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br/>
