<% provide(:title, @broker.full_name) %>
<%= render 'brokers/submenu' %>
<h1><%= @broker.full_name %></h1>
Full Name: <%= @broker.full_name %><br>
Visible to Users: <%= @broker.shortened_name %> <br>
<%= image_tag @broker.image_url.to_s, width: 150 %><br>
Phone: <%= @broker.formatted_phone %><br>
Email: <%= @broker.email %>
