<% provide(:title, @brokerage.name) %>
<%= render 'brokerages/submenu' %>
<h1><%= @brokerage.name %></h1>
Brokerage: <%= @brokerage.name %> <br>
<%= image_tag @brokerage.image_url.to_s, width: 150 %><br>
Phone: <%= @brokerage.formatted_phone %><br>
Email: <%= @brokerage.email %>
