<table class="table">
  <thead>
    <tr>
      <td>Symbol</td>
      <td>Shares</td>
      <td>Current Price</td>
      <td>Market Value</td>
      <td>Expense Ratio</td>
    </tr>
  </thead>
  <tbody>
      <% @investments.each do |i| %>
        <tr>
          <td><%= i.ticker.upcase %></td>
          <td><%= i.quantity %></td>
          <td><%= i.nav %></td>
          <td><%= i.nav * i.quantity %></td>
          <td><%= i.expense_ratio %></td>
        </tr>
      <% end %>
  </tbody>
</table>
<br/><br/>

Portfolio Value: $<%= number_with_precision(@portfolio.market_value, precision: 2) %> <br>
Average Expense Ratio: <%= number_with_precision(@portfolio.average_expense_ratio, precision: 2) %>% <br>
Total Fee Rate: <%= number_with_precision(@portfolio.average_expense_ratio + @portfolio.management_fee, precision: 2)  %>% <br>
Total Fees Paid: $<%= number_with_precision(((@portfolio.average_expense_ratio + @portfolio.management_fee) * @portfolio.market_value) / 100, precision: 2 )%> <br>

