<div class="col-xs-12 col-lg-6" style="margin-top: 40px;  background-color: #ffffff; border: solid; border-color: #dddddd">
  <h2 style="text-align: center">Fee Breakdown</h2>
  <%= pie_chart @portfolio.pie_data %>
</div>
<div class="col-xs-12 col-lg-4" style="margin-top: 40px">
  <table class="table table-bordered breakdown-table">
    <tr>
      <th colspan="3" style="text-align: center;">Fees to Advisor</th>
    </tr>
    <tr>
      <td>Current Management Fee</td>
      <td><%= number_with_precision(@portfolio.management_fee, precision: 2) %>%</td>
      <td>$<%= number_with_precision((@portfolio.management_fee * @portfolio.market_value) / 100, precision: 2) %></td>
    </tr>
    <tr>
      <th colspan="3" style="text-align: center;">Fees to Fund</th>
    </tr>
    <tr>
      <td>Average Expense Ratio</td>
      <td><%= number_with_precision(@portfolio.average_expense_ratio, precision: 2) %>%</td>
      <td>$<%= number_with_precision((@portfolio.average_expense_ratio * @portfolio.market_value) / 100, precision: 2) %></td>
    </tr>
    <tr>
      <th colspan="3" style="text-align: center;">Kickback to Advisor</th>
    </tr>
    <tr>
      <td>Average 12B-1 Fee</td>
      <td><%= number_with_precision(@portfolio.average_12b1_fee, precision: 2) %>%</td>
      <td>$<%= number_with_precision((@portfolio.average_12b1_fee * @portfolio.market_value) / 100, precision: 2) %></td>
    </tr>
    <tr>
      <td>Average Load Fee</td>
      <td><%= number_with_precision(@portfolio.average_load_fee, precision: 2) %>%</td>
      <td>$<%= number_with_precision((@portfolio.average_load_fee * @portfolio.market_value) / 100, precision: 2) %></td>
    </tr>
    <tr>
      <th colspan="3" style="text-align: center;">Total Fees</th>
    </tr>
    <tr>
      <td>Total Fees Per Year</td>
      <td><%= number_with_precision((@portfolio.average_expense_ratio + @portfolio.management_fee), precision: 2 )%>%</td>
      <td>$<%= number_with_precision(((@portfolio.average_expense_ratio + @portfolio.management_fee) * @portfolio.market_value) / 100, precision: 2 )%></td>
    </tr>
    <tr>
      <td>Total Fees Per Sale</td>
      <td><%= number_with_precision((@portfolio.average_12b1_fee + @portfolio.average_load_fee), precision: 2 )%>%</td>
      <td>$<%= number_with_precision(((@portfolio.average_12b1_fee + @portfolio.average_load_fee) * @portfolio.market_value) / 100, precision: 2 )%></td>
    </tr>
    <tr>
      <td>Total Fees</td>
      <td colspan="2" style="text-align: center; color: red;">$<%= number_with_precision(((@portfolio.average_expense_ratio + @portfolio.management_fee + @portfolio.average_12b1_fee + @portfolio.average_load_fee) * @portfolio.market_value) / 100, precision: 2 )%></td>
    </tr>

  </table>
</div>
<div class="col-xs-12 col-lg-2" style="margin-top: 40px"><h2>Ad Coming Soon</h2></div>
<div class="col-xs-10">
  <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Shares</th>
          <th>Current Price</th>
          <th>Load Fees</th>
          <th>12B-1 Fees</th>
          <th>Expense Ratio</th>
          <th>Market Value</th>
        </tr>
      </thead>
      <tbody>
          <% @investments.each do |i| %>
            <tr>
              <td><%= i.ticker.upcase %></td>
              <td><%= i.quantity %></td>
              <td>$<%= number_with_precision(i.nav, precision: 2) %></td>
              <td><%= number_with_precision(i.load, precision: 2) %>%</td>
              <td><%= number_with_precision(i.twelve_b_1, precision: 2) %>%</td>
              <td><%= number_with_precision(i.expense_ratio, precision: 2) %>%</td>
              <td>$<%= number_with_precision(i.nav * i.quantity, precision: 2) %></td>
            </tr>
          <% end %>
      <tr>
        <th colspan="6">Portfolio Value</th>
        <th>$<%= number_with_precision(@portfolio.market_value, precision: 2) %></th>
      </tr>
      </tbody>
    </table>
</div>
