<% provide(:title, 'Create Brokerage') %>
<style>
    .container {
        margin-top: 20px;
    }
</style>
<div style="margin-top: 20px; height: 100px; position: relative">
  <%= image_tag 'logo-green.png', width: 200%><div style="font-size: 40px; bottom: 20px; display: inline; position: absolute;">Brokerage Registration</div>
</div>
<div class="clearfix"></div>
<div class="col-xs-6"]>
  <%= render partial: 'shared/errors', :locals => {:object => @user}%>
  <%= form_for @user, url: {action: "brokerage_registration_create"} do |f|  %>
      <h2>Create User</h2>
          <%= render 'users/form_elements', f: f  %>
      <h2>Create Brokerage</h2>
      <%= f.fields_for :brokerages, Brokerage.new do |builder| %>
          <%= render 'brokerages/sub_form', f: builder %>
          <% end %>
      <div class="form-group">
        <%= f.submit 'Create Brokerage', class: 'btn btn-primary' %>
      </div>
  <% end %>

</div>
<div class="col-xs-4 col-xs-offset-2">
  <div style="height: 100px"></div>
  <h3>Get BrokerVerified Certified.</h3>
  <p>After you apply become a brokerage, you can apply to become BrokerVerified Certified. This makes it so that users will have more trust in your services. Get BrokerVerified Certified today!<br><br>
    <%= link_to 'Find out more.', brokerages_signup_path %>
  </p>
  <br><br>
  <h3>Advertise on BrokerVerified.</h3>
  <p>Get new clients from investors that are wary of their current investment advisor. Advertise on BrokerVerified and you can make the needed connection with one of these clients.<br><br>
    <%= link_to 'Find out more.', brokerages_signup_path %>
  </p>
</div>