<div class="login-window">
  <%= render partial: 'shared/errors', :locals => {:object => @user}%>
  <div align="center" style="margin-top: 20px">

    <%= image_tag 'logo-green.png', width: 200 %><br>
    <h1 style="color: #788c6d">Client Registration</h1>
    <div class="clearfix"></div>
    <div style="margin-left: 25px">Already a user? <%= link_to 'Login', login_path %>.</div>

  <div class="clearfix"></div>
  <div class="col-md-4" align="center" style="float: none">
  <%= form_for @user, url: {action: 'create_register'} do |f| %>
      <div class="form-group">
        <%= f.label :first_name, class: 'sr-only' %>
        <%= f.text_field :first_name, class: 'form-control top-input', placeholder: 'First Name' %>

        <%= f.label :last_name, class: 'sr-only' %>
        <%= f.text_field :last_name, class: 'form-control bottom-input', placeholder: 'Last Name'%>
      </div>
      <div class="form-group">
        <%= f.label :email, class: 'sr-only'  %>
        <%= f.text_field :email, class: 'form-control', placeholder: 'Email Address' %>
      </div>
      <div class="form-group">
        <%= f.label :password, class: 'sr-only'  %>
        <%= f.password_field :password, class: 'form-control top-input', placeholder: 'Password' %>

        <%= f.label :password_confirmation, 'Confirmation', class: 'sr-only'  %>
        <%= f.password_field :password_confirmation, class: 'form-control bottom-input', placeholder: 'Confirm Password' %>
      </div>
      <div class="form-group">
        <%= f.submit 'Register', class: 'btn btn-default' %>
      </div>
  <% end %>
    </div>
    </div>
</div>