<h4>Meet <%= @brokerage.shortened_name %></h4>
<% if @brokerage.image_url %>
    <%= image_tag @brokerage.image_url.to_s, width: 150 %>
    <% else %>
    <%= image_tag 'default-broker.gif', width: 150 %>
    <% end %>
<% if @brokerage.about %>
    About: <%= @brokerage.about %>
    <br><br>
    <% end %>
Contact Information:<br>
<%= @brokerage.formatted_phone %><br>
<span class="email"><%= @brokerage.email %></span>