<h1><%= @advisor.full_name %></h1>
Advisor ID: <%= @advisor.id %><br>
Phone: <%= @advisor.formatted_phone %><br>
Email: <%= @advisor.email %><br>
Address: <%= @advisor.address1 %> <br>
<% if @advisor.address2 %>
    <%= @advisor.address2 %> <br>
<% end %>
<%= @advisor.city %>, <%= @advisor.state %> <%= @advisor.zip %> <br>

<% @advisor.organizations.each do |organization| %>
    <h4>Organization: <%= organization.name %></h4>
    Name: <%= organization.name %> <br>
    Phone: <%= organization.formatted_phone %> <br>
    Email: <%= organization.email %> <br>
    Address: <%= organization.address1 %> <br>
    <% if organization.address2 %>
        <%= organization.address2 %> <br>
    <% end %>
    <%= organization.city %>, <%= organization.state %> <%= organization.zip %> <br>
<% end %>