<%= render partial: 'shared/errors', :locals => {:object => @broker}%>
<div class="col-md-4">
  <%= form_for @broker, :html => { :multipart => true} do |f| %>
      <div class="form-group">
        <%= f.label :first_name, class: 'sr-only' %>
        <%= f.text_field :first_name, class: 'form-control top-input', placeholder: 'First Name' %>
        <%= f.label :last_name, class: 'sr-only' %>
        <%= f.text_field :last_name, class: 'form-control bottom-input', placeholder: 'Last Name'%>
      </div>
      <div class="form-group">
        <%= f.label :phone, class: 'sr-only'  %>
        <%= f.text_field :phone, class: 'form-control', placeholder: 'Phone Number' %>
      </div>
      <div class="form-group">
        <%= f.label :email, class: 'sr-only'  %>
        <%= f.text_field :email, class: 'form-control', placeholder: 'Email Address' %>
      </div>
      <div class="form-group">
        <%= f.label :image, 'Upload Image', class: 'btn btn-primary trigger'  %>
        <%= f.file_field :image, style: 'display:none;', class: 'uploadBtn' %>
      </div>

      <div class="form-group">
        <%= f.submit 'Save', class: 'btn btn-default' %>
      </div>
  <% end %>
</div>