<% unless current_page?(login_path) || current_page?(register_path) || current_page?(root_path) || current_page?(registration_path) || current_page?(brokerages_signup_path)%>
<div class='container'>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"><%= SITENAME %></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <%= display_nav_item('Profile', profile_path) %>
          <%= display_nav_item('Portfolios', portfolios_path) %>
          <%= display_nav_item('Reviews', reviews_path) %>
          <% if auth_group('Administrators') %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><b>&nbsp;&nbsp;Mutual Fund Admin</b></li>
                  <%= auth_button(['Administrators'], mutual_funds_path, 'Mutual Funds') %>
                  <li class="divider"></li>
                  <li><b>&nbsp;&nbsp;Broker Admin</b></li>
                  <%= auth_button(['Administrators', 'Managers'], brokerages_path, 'Brokers') %>
                  <li class="divider"></li>
                  <li><b>&nbsp;&nbsp;User Admin</b></li>
                  <%= auth_button(['Administrators'], users_path, 'Users') %>
                  <%= auth_button(['Administrators'], groups_path, 'Groups') %>
                </ul>
              </li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <%= nav_li_link 'Help', help_path %>
          <% if logged_in? %>
              <li><%= link_to 'Logout', logout_path, method: :delete %></li>
              <% else %>
            <li><%= link_to 'Login', login_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>
<% end %>