<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag params[:controler] %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag params[:controller] %>

  <%= csrf_meta_tags %>
  <%= yield(:head) %>
  <%= render(partial: 'layouts/shiv') %>
</head>
<body>

<%=	render(partial: 'layouts/nav') %>
<% unless current_page?(root_path) %>
<div class="container">
  <% end %>

  <%= yield %>
  <% unless current_page?(root_path) %>
    </div>
<% end %>
<%= render(partial: 'layouts/dev') %>
<%= render(partial: 'layouts/footer') %>
</body>
</html>
